<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="css/custom.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	 <title>Forget password</title>
  	</head>
  	<body>


<!--FORGOT PASSWORD FORM -->
<div class ="container">
	  	<div class= "row">
  		<div class="col-xs-4">
  		</br>
	<div class="logo text-center"><h2>Sign up</h2></div>
	<!-- Main Form -->
		<div class="login-form-1">
			<form id="form" class="text-left" method="POST">
				<div class="login-form-main-message"></div>
				<div class="main-login-form">
					<div class="login-group">
						
						<div class="form-group">
							<label for="reg_username" >Username</label>
							<input type="text" class="form-control" id="username" name="username" placeholder="username">
						</div>
						<div class="form-group">
							<label for="reg_password">Password</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="password">
						</div>
						<div class="form-group">
							<label for="reg_password_confirm">Password Confirm</label>
							<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">
						</div>
						<div class="form-group login-group-checkbox">
							<label for="reg_gender" >Gender</label> </br>
							<input type="radio" class="" name="reg_gender" id="male" placeholder="username">
							<label for="male">Male</label>
							</br>
							<input type="radio" class="" name="reg_gender" id="female" placeholder="username">
							<label for="female">Female</label>
						</div>
						<div class="form-group">
							<label for="area" >Area</label>
							<input type="text" class="form-control" id="area" name="area" placeholder="area">
						</div>
						<div class="form-group">
							<label for="role" >Role</label>
							<input type="text" class="form-control" id="role" name="role" placeholder="role">
						</div>
						
						<div class="form-group login-group-checkbox">
							<input type="checkbox" class="" id="reg_agree" name="reg_agree">
							<label for="reg_agree">I agree with <a href="#">terms</a></label>
						</div>
					
						<div>
							<button type="Submit" class="btn btn-success" ><a href= "file:///Users/sarahgawde/Desktop/cs%20apps/bootstrap-4/progpg.html" style="color:inherit">Submit</a><i class="fa fa-chevron-right"></i></button>
							<a href="file:///Users/sarahgawde/Desktop/cs%20apps/bootstrap-4/forms2.html">Already have an account?</a>
						</div> 
					</br> </br>
			</form>
		</div>
	<!-- end:Main Form -->
</div>
</div>
</div>
</body>
</html>


